

<h1><%= @recipe.title %></h1>

Ingredients: <br>
<%= @recipe.ingredients %> <br>
<br>
Directions: <br>
<%= @recipe.directions %>
<br>
<br>
<br>
<% if @recipe.recipe_creator %>
Added by: <%= @recipe.contributor.name %> <br>
Created by: <%= @recipe.recipe_creator.name %> <br>

<% end %>

<% if @recipe.recipe_creator.secret_ingredient == "Yes" || "yes" %>
    <h4><%=@recipe.recipe_creator.name %> is usually keeping a secret ingredient! Call them to see if they'll share it with you. Good luck! </h4>
    Contact: <%= @recipe.recipe_creator.phone_number %> <br>
<% end %>
<br>
<br>


<%= link_to'Delete Recipe', recipe_path(@recipe), method: 'delete' %> <br>
<%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %>


 
