<!DOCTYPE html>
<html>
  <head>
    <title>FamilyRecipeBox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br>
    <%= link_to "Recipe Box", recipes_path %> | 
    <%= link_to "Add New Recipe", new_recipe_path %> | 
    <%= link_to "Family Recipe Creators", recipe_creators_path %> |
    <%= link_to "Family Recipe Box Contributors", contributors_path %>

    <br>
    <%= button_to 'Logout', logout_path %>
      <%= yield %>
  </body>
</html>
